*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}
body {
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
}

#kontener {
    max-width: 100%;
    margin:0 auto 0 auto;
    background-color: white;
}

header img {
    width: 100%;
    display: block;
    height: 250px;
}
nav {
    background-color: black;
}

a.menu {
    display: inline-block;
    width: 24%;
    padding: 10px 20px 10px 20px;
    color: white;
    text-decoration: none;
    text-align: center;

}

a.menu:hover {
    font-size: 20px;
    background-color:green;
}

article h1 {
    font-size:30px;
    text-align: center;
    margin: 30px 10% 20px 10%;
    padding-bottom: 15px;
    border-bottom: 2px solid green;
    font-size: 250%;
}

img.left {
    width: 25%;
    float: left;
    padding: 10px ;

}

article p {
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 25px;
    font-size: 18px;
    
}

.t1 {
    font-weight: bold;
}

iframe {
    width: 100%;
}

footer{
    height: 70px;
    background-color: black;
    color: white;
    line-height: 40px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
}